@font-face {
    font-family: 'LXGW WenKai';
    src: url('https://cdn.smartcis.cn/gh/Elegy17/Sharding-fonts@main/LXGW-WenKai/LXGW-WenKai-Regular/result.css') format('woff2'),   /* 提供 WOFF2 格式 */
    font-weight: normal;
    font-style: normal;
}